<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products Detail</h1>
        
            <h4>
              <a href="/products/<%=product.id %>"><%=product.produtsTitle %></a>
            </h4>
            <p><%=product.Descripttion %></p>
            <p>ราคา : <%=product.Price %>  บาท</p>
</body>
</html>